body {
  background: url("/img/Stupa_Borobudur.jpg");
}

div.satu {
  width: 725px;
  height: 365px;
  border: 2px solid black;
  background-color: white;
  background-image: url("/img/avocado.jpg");
  background-size: 41%;
  background-repeat: repeat-y;
  font-size: large;
  font-weight: bold;
  overflow: scroll;
}

p {
  text-align: right;
  color: blue;
}

.dua {
  text-align: left;
  color: green;
}

.tiga {
  color: red;
  padding-right: 20px;
}
